.App {
  width: 600px;
  height: 400px;
  text-align: center;
  margin: auto;
}

.App-header {
  width: 600px;
  height: 50px;
  background: darkgrey;
  padding: 5px 0 5px 0;
  font-size: 16px;
}

img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

ul {
  width: 530px;
}

li {
  width: 90px;
  list-style-type: none;
  float:left;
  display: inline;
  font-weight: bold;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width:600px;
  height:100px;
}



